{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title>Vishnu Priyan</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"></link>
        <link rel="stylesheet" href="{% static 'dist/effect-js.min.css' %}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
        <style>
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color:#551dee;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius:50%;
        }

        #myBtn:hover {
            background-color:#551dee;
        }
        </style>
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <a href="#" class="navlogo">VP</a>
                <ul class="main-nav">
                    <li><a href="{% url 'home' %}" class="navlink">Home</a></li>
                    <li><a href="{% url 'about' %}" class="navlink">About</a></li>
                    <li><a href="{% static 'VishnuPriyan Resume.pdf' %}" target="_blank" class="navlink">Resume</a></li>
                    <li><a href="{% url 'projects' %}" class="navlink">Projects</a></li>
                    <li><a href="{% url 'contact' %}" class="navlink">Contact</a></li>
                </ul>
                <span class="mobile-nav" style="font-size:30px;cursor:pointer;color:#000;" onclick="openNav()">&#9776;</span>
            </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'home' %}" class="navlink">Home</a>
                <a href="{% url 'about' %}" class="navlink">About</a>
                <a href="{% static 'VishnuPriyan Resume.pdf' %}" target="_blank" class="navlink">Resume</a>
                <a href="{% url 'projects' %}" class="navlink">Projects</a>
                <a href="{% url 'contact' %}" class="navlink">Contact</a>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <a onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up"></i></a>
        <footer id="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Vishnu priyan</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://www.linkedin.com/in/vishnu-priyan0206/" target="_blank">vishnu Priyan</a>
                </div>
                
            </div>
        </footer>
        <script src="{% static 'js/main.js' %}"></script>
        <script>

        AOS.init({
            duration: 1000,
            easing: "ease-in-out",
            offset:120,
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
            
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>
        <script>
            var mybutton = document.getElementById("myBtn");

            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <script src="{% static 'dist/effect-js.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </body>
</html>