{% extends 'base.html' %}
{% block content %}
<main id="main">
    <section id="contact" class="contact mt-5">
        <div class="container" data-aos="fade-up">
            <div class="section-title 2000" data-effectJs="fade-up">
                <h2 class="text-center" style="font-size:32px;font-weigth:bold;text-transform:uppercase;margin-bottom: 20px;padding-bottom: 20px;position: relative;">Contact</h2>
                <p class="text-center">You Can Reach Me On or Contact Me Through.</p>
            </div>
            <div data-effectJs="fade-up" class="2000">
                {% comment %} <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe> {% endcomment %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.0044496718565!2d77.8147665275085!3d12.705157912776341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae70a075487d15%3A0x3226a09c9d1b9929!2sGovernment%20ITI%20-%20Mathigiri!5e1!3m2!1sen!2sin!4v1622780434652!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="info 3000" data-effectJs="fade-up">
                        <div class="address">
                            <i class="fa fa-map-marker"></i>
                            <h4>Location:</h4>
                            <p>Plot GKS Nagar opp to Govt ITI, Hosur, Tamil Nadu</p>
                        </div>
                        <br/>
                        <div class="email">
                            <i class="fa fa-envelope"></i>
                            <h4>Email:</h4>
                            <p>priyanvishnu15@gmail.com</p>
                        </div>
                        <br/>
                        <div class="phone">
                            <i class="fa fa-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 63690 31601</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-5 mt-lg-0">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group 2000" data-effectJs="fade-up">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required autocomplete="off">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0 2000" data-effectJs="fade-up">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group mt-3 3000" data-effectJs="fade-up">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required autocomplete="off">
                        </div>
                        <div class="form-group mt-3 3000" data-effectJs="fade-up">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <br/>
                        <div class="text-center 3000" data-effectJs="fade-up"><button type="submit" style="background: #551dee;border: 0;padding: 10px 30px 12px 30px;color: #fff;transition: 0.4s;border-radius: 50px;">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<br/>
{% endblock content %}